@using GameStore.HtmlHelpers
@using GameStore.StoreDomain.Entities

@model GameStore.Models.GamesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var game in Model.Games)
{
    @Html.Partial("GameSummary", game)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
</div>