@using GameStore.HtmlHelpers
@using GameStore.StoreDomain.Entities

@model GameStore.Models.GamesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var game in Model.Games)
{
    <div class="well">
        <h3>
            <strong>@game.Name</strong>
            <span class="pull-right label label-primary">@game.Price.ToString("# руб")</span>
        </h3>
        <span class="lead">@game.Description</span>
    </div>
}

<div class="btn-group pull-right">@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))</div>